@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #9ebee5;
    font-family: 'Noto Sans JP', sans-serif;
}
#wrapper {
    width: 100%;
}
@media only screen and (min-width:320px) {
    .lg {
        display: none;
    }
    #top {
        background: url(../img/top-fuyusp.png) center center no-repeat;
        background-size: cover;
        min-height: 500px;
        position: relative;
    }
    #menu-lg {
        display: none;
    }

    .top-text {
        text-align: center;
    }
    .text-content p {
        font-size: large ;
    }
    #content {
        background-image: url(../img/01-top-ca-cropped.png), url(../img/06-bottom-g.png);
        background-repeat: repeat-x;
        background-position: -500px left, bottom left ;
        height: 1000px;
        padding-top: 20px;
    }
    #content p {
        font-size: 10
        0px;
        font-weight: 510;
    }
    
    .text-content {
        text-align: center;
    }

     /* ====== FAMILY ======= */
    
    #family {
        position: relative;
        padding-top: 60px;
        margin-top: 300px;
    }

    #family h2 {
        position: absolute;
        top: 0;
    }

    #family h2 img {
        width: 100%;
    }

    .family-content {
        background-color: #e9c648;
        background-image: url(../img/02-famiri-e-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 325px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 500px;
    }
    .plank {
        padding-right: 150px;
        justify-content: center;
    }

    .family-slide img {
        width: 100%;
    }
    .textfamily {
        font-size: large;
        color: #052505;
    }
     /* ====== FAMILY ======= */
    /* ====== MAMAPAPA ======= */
    #mamapapa {
        position: relative;
        padding-top: 70px;
        margin-top: 40px;
    }
    #mamapapa h2 {
        position: absolute;
        top: 0;
    }

    #mamapapa h2 img {
        width: 100%;
    }

    .mamapapa-content {
        background-color: #4d944d;
        background-image: url(../img/03-mamapapa-d-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 200px;
    
    }

    .mamapapa-images div {
        margin-bottom: 20px;
    }

    .mamapapa-images img {
        width: 100%;
    }

    #mamapapa .plank {
        background-color: #da7f09;
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding: 20px 0;
    }
    #mamapapa .plank img {
        margin-top: 15px;
    }

    /* ====== MAMAPAPA ======= */
    /* ====== CAMP======= */
    #camp {
        position: relative;
        padding-top: 60px;
        margin-top: 300px;
    }


    #camp h2 {
        position: absolute;
        top: 0;
    }

    #camp h2 img {
        width: 100%;
    }

    .camp-content {
        background-color: #e9c648;
        background-image: url(../img/02-famiri-e-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 325px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 500px;
    }

    .camp-slide img {
        width: 100%;
    }

     /* ====== CAMP ======= */
}
@media only screen and (min-width: 1024px){   
    .sp {
        display: none;
    }
    .menu-sp {
        display: none;
    }
    .lg {
        display: block;
    }
    #top {
        background: url(../img/01-top-bb.png) center center no-repeat;
        background-size: cover;
        min-height: 500px;
    }

    .top-text {
        position: absolute;
        bottom: 0;
    }

    .top-text img.lg {
        display: block;
        width: 100%;
    }

    #menu-lg {
        display: flex;
        background-color: #3364b7;
        padding-top: 10px;
    }

    #menu-lg a{
        display: block;
        width: 25%;
    }

    #menu-lg a{
        display: block;
        width: 25%;
    }

    #menu-lg a img{
        width: 100%;
        display: block;
    }
    /* ====== FAMILY ======= */
    .plank {
        background-color: #f75c73;
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding: 20px 0;
    }
    .plank img {
        margin-top: 15px;
    }
    /* ====== FAMILY ======= */
    /* ====== MAMAPAPA ======= */    
    #mamapapa .plank {
        background-color: #da7f09;
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding: 20px 0;
    }
    #mamapapa .plank img {
        margin-top: 15px;
    }

    /* ====== MAMAPAPA ======= */
}
@media only screen and (min-width: 1440px){
    #top {
        min-height: 1100px;
    }
    .text-content p {
        font-size: xx-large;
    }
    #menu-lg img:hover{
        transform: scale(5deg);
        transition: 3s;
        scale: 1.1;
        transition: 0,5s;
    }
    /* ====== FAMILY ======= */
    #family {
        position: relative;
        padding-top: 210px;
        margin-top: 300px;
    }

    #family h2 {
        position: absolute;
        top: 0;
    }

    #family h2 img {
        width: 100%;
    }

    .family-content {
        background-color: #e9c648;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 500px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 500px;
    }

    .family-slide {
        text-align: center;
    }
    #family .planktext-a {
        font-weight: lighter;
    }
     /* ====== FAMILY ======= */

     /* ====== MAMAPAPA ======= */

    #mamapapa {
        position: relative;
        padding-top: 163px;
        margin-top: 40px;
    }
    #mamapapa h2 {
        position: absolute;
        top: 0;
    }

    #mamapapa h2 img {
        width: 100%;
    }

    .mamapapa-content {
        background-color: #4d944d;
        background-image: url(../img/03-mamapapa-d-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 550px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 500px;
    }

    .mamapapa-images {
        display: flex;
        flex-wrap: wrap;
    }
    .mamapapa-images div {
        margin-bottom: 0;
        width: 50%;
        padding: 20px;
    }

    .mamapapa-images img {
        width: 100%;
    }
    .textmamapapa {
        color: #032412;
        font-size: medium;
        
    } 
    #mamapapa .planktext-a {
        font-weight: lighter;
    }
    /* ====== MAMAPAPA ======= */
    /* ====== CAMP======= */
    #camp {
        position: relative;
        padding-top: 210px;
        margin-top: 300px;
    }
    .textcamp {
        color: #052505;
    }
    .camp-content {
        background-color:#f88620;
        margin: 0 auto;
        background-image: url(../img/04-hoterukamp-e-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        padding-top: 550px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 500px;
    }
    #camp .plank {
        background-color: #782026;
        color: #fff;
        text-align: center;
        margin-top: 70px;
        padding: 60px 0;
        font-size: medium;
        font-weight: 100;
    }
    #camp .planktext-a {
        font-size: xx-large;
        font-weight: lighter;
    }
    /* ====== CAMP======= */
    /* ====== BUFFET======= */
    #buffet {
        position: relative;
        padding-top: 210px;
        margin-top: 300px;
    }
    #buffet .h2 {
        top: 0;
    }
    #buffet h2 img {
        width: 100%;
        position: relative;
        z-index: 2;
    }
    #buffet .textbuffet {
        font-weight: bold;
    }
    .textbuffet {
        color: #e8f510;
        padding-top: 163px;
    }
    .buffet-content {
        background-color:#8e151d;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 600px;
        padding-left: 200px;
        padding-right: 200px;
        position: relative;
    }
    #buffet .bgbuffettext {
        position: absolute;
        max-width: 1500px;
        width: 100%;
        bottom: -400px;
        left: 0;
        z-index: 1;
        
    } 
    #buffet .bgbuffettext img {
        width: 100% ;
        display: block;
        z-index: -1;
    }
    #buffet .bgbuffettext h3 {
        text-align: center;
        top: 180px;
        padding-left: 450px;
        font-size: 25px;
    }
    .rate {
        position: relative;
        bottom: -90px;
        z-index: 1;
         
    }
    .h3 {
        bottom: -230px;
    }
    #buffet .bgbuffettext p {
        text-align: center;
        font-size: 30px;
        padding-left: 400px;
        z-index: -1;
        
        
    }
    #buffet .swiper-slide img {
        width: 100%;
    }
    #buffet .santa {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    /* ======BUFFET======= */
    /* ======FeET======= */
    #bottom .bottom-content {
        background-color:#807cbc;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: -163px;
        padding-left: 200px;
        padding-right: 200px;
        position: relative;
        margin-top: 190px;
        height: 1880px;
    }
    #bottom .bottom-content img {
        position: absolute;
        right: 0;

    }
    #bottom .kupon p {
        padding-top: 500px;
        font-size: 25px;
    }
    #bottom .jal {
       
    }
    
    /* ======FeET======= */
    
}

@media only screen and (min-width: 1920px){
    /* ====== FAMILY ======= */
    #family {
        padding-top: 300px;
    }

    #family h2 {
        position: absolute;
        top: 0;
    }

    #family h2 img {
        width: 100%;
    }
    
     /* ====== FAMILY ======= */
}