@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-color: #9ebee5;
    font-family: 'Noto Sans JP', sans-serif;
}
#wrapper {
    width: 100%;
}
@media only screen and (min-width:320px) {
    .lg {
        display: none;
    }
    #top {
        background: url(../img/top-fuyusp2.png) center center no-repeat;
        background-size: cover;
        min-height: 500px;
        position: relative;
        z-index: -1;
    } 
    #menu-lg {
        display: none;
    }
    .menu-sp .img  {
       width: 100%;
    }
    .menu-sp {
        padding-left: 300px;
    }
    .logo {
        width: 100%;
        padding-left: 80px;
    }
    .logo .lg { 
        display: none;
    }
    .top-text {
        text-align: center;
    }
    #content {
        background-image: url(../img/01-top-ca-cropped.png), url(../img/06-bottom-g.png);
        background-repeat: repeat-x;
        background-position: -500px left, bottom left ;
        height: 90px;
        padding-top: 10px;
        margin-bottom: 130px;
    }
    /* ====== text atas salju ======= */
    .toptextsp {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #0d0f80;


    }
    .toptext  {
        display: none;
    }

     /* ====== FAMILY ======= */
     #family .plank {
        background-color: #f75c73;
        color: #fff;
        text-align: center;
        margin-top: 10px;
        padding: 20px 0;
    }
    /* ====== textfamily ======= */
    }
    #family {
        position: relative;
        padding-top: 40px;
        margin-top: 30px;
    }

    #family h2 {
        position: absolute;
        top: 0;
    }

    #family h2 img {
        width: 100%;
    }

    .family-content {
        background-color: #e9c648;
        background-image: url(../img/02-famiri-e-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 90px;
    }
    #family .swiper-button-prev, .swiper-button-next {
        color: rgb(0, 0, 0);
        background-color: #f75c73;
        
    }
    .plank {
        padding-right: 150px;
        justify-content: center;
    }

    .textfamily {
        text-align: center;
        font-size: 12px;
        font-weight: 600;

    }
    .family-slide img {
        width: 100%;
    }
    .textfamily {
        font-size: 12px;
        color: #206e28;
    }
    .swiper-slide {
        font-size: 9px;
        color: #206e28;
        
    }
    #family h2 img {
        width: 100%; 
     }
    #family .plank img {
        margin-top: 15px;
        width: 150px;
    }
    #family .swiper-slide p {
        font-size: 12px;
        color: #206e28;
        font-weight: 500;
    }
    #family .planktext-a {
        font-size: 12px;
        color: #ffffff;
        font-weight: normal;
    }
    .planktext-a img {
        width: 20px;
    }
    #family .plank p {
        font-size: 9px;
    }


     /* ====== FAMILYEND ======= */
    /* ====== MAMAPAPA ======= */
    #mamapapa {
        position: relative;
        padding-top: 30px;
        margin-top: 40px;
    }
    .textmamapapa {
        text-align: center;
        font-size: 12px;
        font-weight: 600;

    }
    #mamapapa .textmamapapa p {
        background-color: #206e28;
        font-size: 10px;
        color: #da7f09;
        font-weight: 600;
    }
    #mamapapa .plank {
        background-color: #da7f09;
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding: 20px 0;
    }
    #mamapapa h2 {
        position: absolute;
        top: 0;
    }

    #mamapapa h2 img {
       width: 100%; 
    }
    
    .mamapapa-content {
        background-color: #4d944d;
        background-image: url(../img/03-mamapapa-d-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 124px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
    
    }

    .mamapapa-images div {
        margin-bottom: 20px;
    }

    .mamapapa-images img {
        width: 100%;
    }

    #mamapapa .plank .sp{
        background-color: #da7f09;
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding: 20px 0;
    }
    
    #mamapapa .plank img {
        margin-top: 15px;
        width: 150px;
    }
    #mamapapa .planktext-a {
        font-size: 12px;
        color: #ffffff;
        font-weight: normal;
    }

    /* ====== MAMAPAPAEND ======= */
    /* ====== CAMP======= */
    #camp {
        position: relative;
        padding-top: 60px;
        margin-top: 40px;
    }

    #camp h2 {
        position: absolute;
        top: 0;
    }

    #camp h2 img {
        width: 100%;
    }
    .textcamp  {
        font-size: 10px;
        color: #16361b;
        font-weight: 600;
        text-align: center;
        margin-top: 20px;
    }
    .camp-content {
        background-color: #f88620;
        background-image: url(../img/02-famiri-e-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 100px;
    }
    #camp .swiper-button-prev  {
        color: rgb(0, 0, 0);
        background-color: #f88620;
        
    }
    #camp .swiper-button-next  {
        color: rgb(0, 0, 0);
        background-color: #f88620;
        
    }
    .camp-slide img {
        width: 100%;
    }
    
    #camp .plank {
        background-color: #782026;
        color: #fff;
        text-align: center;
        margin-top: 10px;
        padding: 10px 0;
        font-size: medium;
        font-weight: 100;
    }
    #camp .planktext-a {
        font-size: 12px;
        color: #ffffff;
        font-weight: normal;
    }
    #camp .plank img {
        margin-top: 15px;
        width: 150px;
    }
     /* ====== CAMPEND ======= */

      /* ====== buffet ======= */
    
     #buffet h2 img {
        width: 100%;
        position: relative;
        top: 100px;
     }
     #buffet .swiper-button-prev  {
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        
    }
    #buffet .swiper-button-next  {
        color: rgb(0, 0, 0);
        background-color: #ffffff;
        
    }
    #buffet  {
        padding-top: 50px;
    }
     .buffet-content {
        background-color:#8e151d;
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 19px;
        padding-top: 100px;
        
    }
    #buffet h2 img {
        margin-top: -77px;
        padding-top: -9px;
    }
    .buffet-slide img {
        width: 100%;
    }
    #buffet .textbuffet {
        font-size: 12px;
        color: #ffffff;
        font-weight: normal;
        text-align: center;
    }
    #buffet {
        position: relative;
        padding-top: 18px;
    }
    .ratesp img {
        position: relative;
        width: 150px;
        left: 68px;
        padding-top: 30px;
    }
    .ratetext img {
        position: relative;
        width: 200px;
        left: 40px;
        bottom: 35px;
    }
    .santa img {
        width: 100px;
        position: relative;
        z-index: 5;
    }
    .rate {
        display: none;
    }
    .bgbuffettext img {
        width: 100%;
        margin-top: -50px;
        position: relative;
        z-index: 3;
    }
    .bgbuffettext h3 {
        font-size: 9px;
        text-align: center;
        margin-top: -143px;
        font-weight: lighter;
        position: relative;
        z-index: 13;

    }

    /* ====== buffetend ======= */
    /* ====== BOTTOM ======= */
    #bottom .bottom-content {
        background-color:#807cbc;
        background-image: url();
        background-repeat: no-repeat;
        background-position: bottom;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 100px;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
        margin-top: -20px;
        
    }
    .moon img {
        width: 200px;
        margin-top: -76px;
        margin-bottom: -48px;
        position: relative;
        left: 90px;
    }
    .jal img {
        width: 150px;
        left: 60px;
        position: relative;
       

    }
    .ana img {
        width: 150px;
        left: 60px;
        position: relative;
    }
    .plankfeet img {
        width: 150px;
        left: 60px;
        position: relative;
    }
    .kupon img {
        width: 150px;
        padding-top: -100px;
        position: relative;
        z-index: 1;
        left: 60px;
    }
    .kupon p {
        font-size: 8px;
        text-align: center;
    }
    .bottomfeetsp img{
        width:329px;
        position: relative;
        right: 24px;
        margin-bottom: 30px;

    }
    .snowspfeet img {
        padding-top: 34px;
    }


    
 
@media only screen and (min-width: 1024px){   
    .sp {
        display: none;
    }
    .menu-sp {
        display: none;
    }
    .lg {
        display: block;
    }
    #top {
        background: url(../img/01-top-bb.png) center center no-repeat;
        background-size: cover;
        min-height: 500px;
    }
    #top .sp img {
        display: none;
    }
    .menu-sp img {
        display: none;
    }
    .top-text {
        position: absolute;
        bottom: 0;
    }

    .top-text img.lg {
        display: block;
        width: 100%;
    }

    #menu-lg {
        display: flex;
        background-color: #3364b7;
        padding-top: 10px;
    }

    #menu-lg a{
        display: block;
        width: 25%;
    }

    #menu-lg a{
        display: block;
        width: 25%;
    }

    #menu-lg a img{
        width: 100%;
        display: block;
    }
    /* ====== FAMILY ======= */
    #family .plank {
        background-color: #f75c73;
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding: 20px 0;
    }
    .plank img {
        margin-top: 15px;
    }
    /* ====== FAMILY ======= */

    /* ====== MAMAPAPA ======= */    
    #mamapapa .plank {
        background-color: #da7f09;
        color: #fff;
        text-align: center;
        margin-top: 50px;
        padding: 20px 0;
    }
    #mamapapa .plank img {
        margin-top: 15px;
    }

    /* ====== MAMAPAPA ======= */
}
@media only screen and (min-width: 1440px){
    #top {
        background: url(../img/top-fuyu.png) center center no-repeat;
        background-size: cover;
        min-height: 500px;
        position: relative;
    } 
    .logo .lg {
        display: block;
    }
    #top {
        min-height: 1100px;
    }
    #top .sp {
        display: none;
    }
    .text-content p {
        font-size: xx-large;
    }
    #menu-lg img:hover{
        transform: scale(5deg);
        transition: 3s;
        scale: 1.1;
        transition: 0,5s;
    }
    .menu-sp .img {
        display: none;
    }
    /* ====== FAMILY ======= */
    #family {
        position: relative;
        padding-top: 210px;
        margin-top: 300px;
    }
    #family .plank {
        background-color: #f75c73;
        color: rgb(250, 248, 248);
        text-align: center;
        margin-top: 50px;
        padding: 20px 0;
    }
    #family h2 {
        position: absolute;
        top: 0;
    }

    #family h2 img {
        width: 100%;
    }

    .family-content {
        background-color: #e9c648;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 500px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 500px;
    }

    .family-slide {
        text-align: center;
    }
    #family .planktext-a {
        font-weight: lighter;
    }
     /* ====== FAMILY ======= */

     /* ====== MAMAPAPA ======= */

    #mamapapa {
        position: relative;
        padding-top: 163px;
        margin-top: 40px;
    }
    #mamapapa h2 {
        position: absolute;
        top: 0;
    }

    #mamapapa h2 img {
        width: 100%;
    }

    .mamapapa-content {
        background-color: #4d944d;
        background-image: url(../img/03-mamapapa-d-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: cover;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 550px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 500px;
    }

    .mamapapa-images {
        display: flex;
        flex-wrap: wrap;
    }
    .mamapapa-images div {
        margin-bottom: 0;
        width: 50%;
        padding: 20px;
    }

    .mamapapa-images img {
        width: 100%;
    }
    .textmamapapa {
        color: #032412;
        font-size: medium;
        
    } 
    #plank .lg .planktext-a {
        font-weight: lighter;
    }
    #mamapapa .planktext-a img {
        width: auto;
    }
    .plank .lg img {
        width: 100%;
    }
    /* ====== MAMAPAPA ======= */
    /* ====== CAMP======= */
    #camp {
        position: relative;
        padding-top: 210px;
        margin-top: 300px;
    }
    .textcamp {
        color: #052505;
    }
    .camp-content {
        background-color:#f88620;
        margin: 0 auto;
        background-image: url(../img/04-hoterukamp-e-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        padding-top: 550px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 500px;
    }
    #camp .plank {
        background-color: #782026;
        color: #fff;
        text-align: center;
        margin-top: 70px;
        padding: 60px 0;
        font-size: medium;
        font-weight: 100;
    }
    #camp .planktext-a {
        font-size: xx-large;
        font-weight: lighter;
    }
    /* ====== CAMP======= */
    /* ====== BUFFET======= */
    #buffet {
        position: relative;
        padding-top: 210px;
        margin-top: 300px;
    }
    #buffet .h2 {
        top: 0;
    }
    h2 img {
        width: 100%;
        position: relative;
        z-index: 2;
    }
    #buffet .textbuffet {
        font-weight: bold;
    }
    .textbuffet {
        color: #e8f510;
        padding-top: 163px;
    }
    .buffet-content {
        background-color:#8e151d;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: 600px;
        padding-left: 200px;
        padding-right: 200px;
        position: relative;
    }
    #buffet .bgbuffettext {
        position: absolute;
        max-width: 1500px;
        width: 100%;
        bottom: -400px;
        left: 0;
        z-index: 1;
        
    } 
    #buffet .bgbuffettext img {
        width: 100% ;
        display: block;
        z-index: -1;
    }
    #buffet .bgbuffettext h3 {
        text-align: center;
        top: 180px;
        padding-left: 450px;
        font-size: 25px;
    }
    .rate {
        position: relative;
        bottom: -90px;
        z-index: 1;
         
    }
    .h3 {
        bottom: -230px;
    }
    #buffet .bgbuffettext p {
        text-align: center;
        font-size: 30px;
        padding-left: 400px;
        z-index: -1;
        
        
    }
    #buffet .swiper-slide img {
        width: 100%;
    }
    #buffet .santa {
        position: absolute;
        left: 0;
        bottom: 0;
    }
    .bgbuffettext img {
        width: 100%;
    }
    /* ======BUFFET======= */
    /* ======FeET======= */
    #bottom .bottom-content {
        background-color:#807cbc;
        background-image: url(../img/06-bottom-feet.png);
        background-repeat: no-repeat;
        background-position: bottom;
        width: 80%;
        max-width: 1500px;
        margin: 0 auto;
        padding-top: -163px;
        padding-left: 200px;
        padding-right: 200px;
        position: relative;
        margin-top: 190px;
        height: 1880px;
    }
    #bottom .bottom-content img {
        position: absolute;
        right: 0;

    }
    
    #bottom .kupon p {
        padding-top: 500px;
        font-size: 25px;
    }
    .santa {
        z-index: 1;
    }
    .buffet-slide img {
        width: 100%;
    }
    #buffet {
        position: relative;
        padding-top: 40px;
        margin-top: 100px;
    }
    .rate img {
        width: 100%;
    }
    .santa img {
        width: 100%;
    }
    
    /* ======FeETEND======= */
    
}

@media only screen and (min-width: 1920px){
    /* ====== FAMILY ======= */
    #family {
        padding-top: 300px;
    }

    #family h2 {
        position: absolute;
        top: 0;
    }

    #family h2 img {
        width: 100%;
    }
    .menu-sp .img {
        display: none;
    }
     /* ====== FAMILY ======= */
}